@charset "utf-8";
/*  */

/*  */
@font-face{
    font-family: 'caviar_dreamsregular';
    src: url('../webfonts/caviar_dreams/caviar_dreams-webfont.woff') format('woff2'),
            url('../webfonts/caviar_dreams/caviar_dreams-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    
}
